[submodule "test/support/chai"]
	path = test/support/chai
	url = git://github.com/logicalparadox/chai
[submodule "test/support/mocha"]
	path = test/support/mocha
	url = git://github.com/visionmedia/mocha
[submodule "src/vendor/pjs"]
	path = src/vendor/pjs
	url = git://github.com/jayferd/pjs
